@import 'src/css/theme';

.test {}

.labeled-field {
  padding: 5px;
  border: 1px solid #a7a7a7;

  label {
    font-weight: bold;
    margin-right: 5px;
  }
}

.file-content {
  width: 100%;
  height: 200px;
  resize: vertical;
}

.message-log {
  margin-top: 5px;

  p {
    margin: 2px 0;
  }
}
