*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html, body, #app, #router, #router>div {
  height: 100vh;
  max-height: 100vh;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;

  padding-block-start: 0.67em;
  padding-block-end: 0.67em;
}
