@import "theme";

@import "elements";
@import "interface";
@import "layout";

*, *::before, *::after {
  box-sizing: border-box;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}
