@import "theme";
@import "utils";

$element-height: 2em;

fieldset {
  border-radius: 2px;
  position: relative;

  // 1.8em to accommodate for internal legend
  padding: calc(1.8em + 5px) 5px 5px;

  @include border-thin($background-color);

  legend {
    left: -1px;
    position: absolute;
    top: -1px;

    background: $primary-color;
    border-bottom: 1px solid $background-color;
    border-radius: 2px 2px 0 0;
    color: $foreground-color-light;
    font-weight: bold;
    padding: 0.3em;

    // 100% + 1px border either side
    width: calc(100% + 2px);
  }
}

input, textarea {
  @include border-thin($primary-color);

  outline: none;
  padding: 0.5em;

  &:disabled {
    background: $background-disabled;
    border-color: $background-alt-color;
  }

  &:not(:disabled) {
    &:hover,
    &:focus {
      border-color: $secondary-color;
    }
  }
}

input {
  height: $element-height;
}

button {
  border: none;
  background: $primary-color;
  color: white;
  cursor: pointer;
  height: $element-height;
  outline: none;
  padding: 0 10px;
  transition: background .3s ease;


  &:hover {
    background: $secondary-color;
  }

  &:disabled {
    color: gainsboro;
    cursor: default;
    background: $background-alt-color;
  }
}
