@import "src/css/theme";

$body-width: 1176px;
$header-height: 3em;

html, body, #root, #app {
  min-height: 100vh;
}

#app-body, #app-body > div {
  height: 100%;
}

#app {
  display: flex;
  align-items: center;
  flex-direction: column;

  // Accommodate header + 0.5em spacing top and bottom
  padding: calc(#{$header-height} + 0.5em) 0 0.5em;

  background: $background-color;
  color: $foreground-color;
}

#app-body {
  // Stretch to fill available space
  flex: 1;

  background: #ffffff;
  border-radius: 2px;
  padding: 10px;

  // Maintain reasonable with
  width: 100%;
  max-width: $body-width;
}

@media (max-width: $body-width) {
  #app {
    // Remove 0.5em vertical padding so that app-body takes all available space
    padding: $header-height 0 0;
  }
}
