$background-color: #dce0d9;
$background-alt-color: #565f5b;

$foreground-color: #202020;
$foreground-color-light: #fbfbfb;

$primary-color: #518f89;
$primary-color-dark: #3f8983;
$secondary-color: #6fc4bc;

$brand-background-color: #4f7c78;
