@import "src/css/theme";

.page-header {
  background: $brand-background-color;
  display: flex;
  height: 3em;

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.brand-text {
  color: $brand-foreground-color;
  font-size: 1.5em;
  font-weight: 600;

  margin-left: 0.5em;
  margin-right: 3em;
}

.header-text {
  color: $brand-foreground-color;
  font-size: 1.1em;
}
