@import "src/css/theme";

.page-header {
  background: $brand-background-color;
  display: flex;
  height: 3em;

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.brand-logo {
  padding: 0 5px;
}

.brand-text {
  padding: 0 2.5em 0 0.5em;

  > a {
    color: $foreground-color-light;
    font-size: 1.5em;
    font-weight: 600;
    text-decoration: none;
  }
}

.header-navigation {
  height: 100%;
}

.header-navigation-item {
  color: $foreground-color-light;
  display: inline-block;
  font-size: 1.1em;
  height: 100%;
  padding: 0 1em;
  text-decoration: none;

  &:hover {
    background: $primary-color;
  }
}

.header-navigation-item-current {
  background: $primary-color;
}
