@import 'src/css/theme';

.test {}

.file-content {
  width: 100%;
  min-height: 200px;
  resize: vertical;
}

.message-log {
  overflow-y: auto;
  margin-top: 5px;
  max-height: 1000px;

  p {
    margin: 2px 0;
  }
}
